.body{
    background-color:lightblue ;
}
.h1{
    margin-block-end: 0pt;
}
.cabecalho{
    color: blueviolet;
    background-color: aqua;
    text-align: center;
}
.navbar{
    display: flex;
    background-color: aqua;
}
.navbaritem{
    background-color:aqua;
    color: black;
    margin: 5pt;
}
.conteudo{
    background-color: aqua;
    padding: 5px 20% 5px 20%;
}
.conteudoitem{
    background-color: black;
    color: white;
    text-align: justify;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 5pt;
}

.container{
    display: grid;
}